@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    box-sizing: border-box;
  }

  #header,
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    box-sizing: border-box;
  }

  body,
  html {
    max-width: 100%;
    overflow-x: hidden;
  }
}